.top-bar {
  margin-top: -10px;
  padding-bottom: 10px;
}
.footer-link {
  /*color: #999; /* light gray */
  text-decoration: none;
  font-size: .875rem;
  margin: 0 8px; /* horizontal spacing */
  transition: color 0.3s, font-weight 0.3s;
}
.site-logo {
  max-width: 130px;
  width: 100%;
}
.border-ylw {
  border: 2px dashed #ffab00 !important;
  background: #fffcf3;
}
.footer-link:hover {
      color: #34af67;
      font-weight: 600;
      text-decoration: none;
}
.text-end {
    color: #999;
}
.large-body {
  font-size: 20px;
  line-height: 1.6;
}
.large-heading {
  font-size: 30px;
  line-height: 1.3;
}
.large-btn {
  font-size: 20px;
}
.header-btm {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.btn-primary {
  color: #ffffff;
  background: #09aa5f !important;
  border:1px solid  #09aa5f !important;
}
.btn:hover {
    color: #ffffff;
    background-color:#198754 !important;
    border:1px solid  #09aa5f !important;
}
.brdr-btm {
  border-bottom: 1px solid #dddddd;
}
.author-image {
  width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid #037ba5;
}
.cta-block {
background-color: rgb(232 235 238) !important;
border-radius: 4px;
}
