/*
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(255, 255, 255, .8);
        ;
    }

    .modal-content {
        border: 1px solid rgba(0, 0, 0, .2);
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        width: 400px;
        position: relative;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    }

    .close {
        color: #fff;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 22px;
        line-height: 35px;
        font-weight: bold;
        cursor: pointer;
        background: #000;
        padding: 7px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .close:hover {
        cursor: pointer;
    }

    .modal-content h2 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 28px;
        line-height: 30px;
        color: #000;
    }*/

#app_common_modal,
#error_handler_overlay {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background: #333;
    background: rgba(255, 255, 255, .8);
    display: none;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}
#app_common_modal .app_modal_body,
#error_handler_overlay .error_handler_body {
    max-width: 600px;
    -webkit-background-clip: padding-box;
    font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
    outline: 0
}
#error_handler_overlay .error_handler_body {
    margin: 100px auto;
    width: 95%;
    padding: 20px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}
#app_common_modal_close,
#error_handler_overlay_close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #FFF;
    background-color: #333;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    line-height: 30px;
    padding: 0;
    margin: 0
}
#app_common_modal .app_modal_body {
    margin: 100px auto;
    min-width: inherit;
    width: 95%;
    min-height: 400px;
    padding: 2.5%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box
}
#app_common_modal .app_modal_body iframe {
    min-height: 400px;
    width: 100%;
    border: 1px solid #d5d6ef
}